[Desktop Entry]
Encoding=UTF-8
Name=Kiosk
Comment=Automatically start docpad server and chromium in kiosk mode.
Exec=sh /home/pi/git/nards/chrome-kiosk.sh
Icon=/usr/share/icons/5.png
Terminal=false
Type=Application
Categories=Configuration

